@using Kundbolaget.EntityFramework.Repositories
@using Kundbolaget.Models.EntityModels
@using Kundbolaget.Models.ViewModels
@model Kundbolaget.Models.EntityModels.Order



         <div class="form-group">
            @Html.LabelFor(model => model.ShippingAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.ShippingAddressId , new SelectList(Model.Customer.ShippingAddresses, "Id", "Street"), "Välj adress", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ShippingAddress, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ShippingAddressId);
            </div>
        </div>

