@model Kundbolaget.Models.EntityModels.Address

@using Kundbolaget.EntityFramework.Contexts
@using Kundbolaget.EntityFramework.Repositories
@using Kundbolaget.Models.EntityModels
@using Kundbolaget.Models.ViewModels
@{
    IRepository<Country> countryRepository = new DataRepository<Country>();

    var countryModel = new CountryViewModel()
    {
        Countries = countryRepository.GetAll()
    };

}


<Div class="form-group" style="width: 25%; padding-left: 360px;">
    @Html.DropDownListFor(m => m.CountryId, new SelectList(countryModel.Countries, "Id", "Name"), "Välj land",new {@class = "form-control" })
    @Html.HiddenFor(m => m.CountryId)
</Div>
