@model Kundbolaget.Models.EntityModels.Address

@using Kundbolaget.EntityFramework.Contexts
@using Kundbolaget.EntityFramework.Repositories
@using Kundbolaget.Models.EntityModels
@using Kundbolaget.Models.ViewModels
@{
    IRepository<Country> countryRepository = new DataRepository<Country>();

    var countryModel = new CountryViewModel()
    {
        Countries = countryRepository.GetAll()
    };

}

<div style="display:inline-block; min-width: 250px; padding-left: 1%">
    @Html.DropDownListFor(m => Model.CountryId, new SelectList(countryModel.Countries, "Id", "Name"), new { @class = "form-control" })
    @*@Html.HiddenFor(m => m.CountryId)*@
</div>
