@model Kundbolaget.Models.ViewModels.JsonOrderViewModel

@{
    ViewBag.Title = "InvalidOrder";
}

<h2>InvalidOrder</h2>

<pre>@Model.Json</pre>
<div>
    @Html.ActionLink("Tillbaka", "Upload", null, new { @class = "btn btn-primary" })
</div>
