@model Kundbolaget.Models.EntityModels.Order

@{
    ViewBag.Title = "PlaceOrder";
}

<h2>PlaceOrder</h2>

Tog emot order #@Model.Id för kund @Model.Customer.Id, totalt @Model.OrderRows.Count order-rader