@model Kundbolaget.Models.EntityModels.Order

@{
    ViewBag.Title = "ConfirmPick";
}

<h2>Plocklista #@Model.Id utskriven</h2>

<p>Plockordern skrivs ut och orderplockare kan nu gå ut på lagret
    för att plocka ordern.</p>

<div>
    @Html.ActionLink("Plockad", "UnpickedOrders", null, new {@class="btn btn-primary"})
</div>

