@model Kundbolaget.Models.EntityModels.Order

@{
    ViewBag.Title = "ConfirmPick";
}

<h2>Plocklista #@Model.Id utskriven</h2>

<p>En sida varpå vi låtsas att plockordern skrivits ut och Bengt nu är ute på lagret
    för att plocka ordern.</p>

<div>
    @Html.ActionLink("Plockad", "UnpickedOrders", null, new {@class="btn btn-primary"})
</div>

