@model Kundbolaget.Models.EntityModels.Order

@{
    ViewBag.Title = "ConfirmSend";
}

<h2>Fraksedel #@Model.Id utskriven</h2>

<p>
    Fraksedeln skrivs ut och skall skickas med expeditör vid utleverans
</p>

<div>
    @Html.ActionLink("Tillbaka", "PickedOrders", null, new { @class = "btn btn-primary" })
</div>

