@model Kundbolaget.Models.EntityModels.Order

@{
    ViewBag.Title = "ConfirmSend";
}

<h2>Plocklista #@Model.Id skickad</h2>

<p>
    Skriver ut ordern är registrerad som skickad
    Skapar en följesedel för ordern.
</p>

