@using Kundbolaget.Enums
@model IEnumerable<Kundbolaget.Models.EntityModels.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Ordrar</h2>
<div>
    @Html.ActionLink("Mottagna", "ReceivedOrders", null, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Registrerade", "UnpickedOrders", null, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Färdiga", "PickedOrders", null, new { @class = "btn btn-primary" })
</div>
<hr/>



                
           
        